<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.imoxin.poem.dao.PoemMapper">
    <select id="getPoemInfo" resultType="net.imoxin.poem.entity.Poem">
        SELECT title from poem WHERE id = #{id}
    </select>
</mapper>